/* team colours */
:root {--trim: white; --bg: black;}
[data-team="njd"] {--trim: #000; --bg: #CE1126;}
[data-team="nyi"] {--trim: #F47D30; --bg: #00539B;}
[data-team="nyr"] {--trim: #CE1126; --bg: #0038A8;}
[data-team="phi"] {--trim: black; --bg: #F74902;}
[data-team="pit"] {--trim: #CFC493; --bg: black;}
[data-team="bos"] {--trim: #FFB81C; --bg: black;}
[data-team="buf"] {--trim: #FCB514; --bg: #002654;}
[data-team="mtl"] {--trim: #192168; --bg: #AF1E2D;}
[data-team="ott"] {--trim: #C2912C; --bg: #C52032;}
[data-team="tor"] {--trim: white; --bg: #00205B;}
[data-team="car"] {--trim: #111; --bg: #CC0000;}
[data-team="fla"] {--bg: #C8102E; --trim: #041E42;}
[data-team="tbl"] {--trim: white; --bg: #002868;}
[data-team="wsh"] {--trim: #041E42; --bg: #C8102E;}
[data-team="chi"] {--trim: #D18A00; --bg: #CF0A2C;}
[data-team="det"],
[data-team="dcg"] {--trim: white; --bg: #CE1126;}
[data-team="nsh"] {--trim: #FFB81C; --bg: #041E42;}
[data-team="stl"] {--trim: #fcb514; --bg: #002f87;}
[data-team="cgy"] {--trim: #F1BE48; --bg: #C8102E;}
[data-team="col"] {--trim: #236192; --bg: #6F263D;}
[data-team="edm"] {--trim: #FF4C00; --bg: #041E42;}
[data-team="van"] {--trim: #00843D; --bg: #00205B;}
[data-team="ana"] {--trim: #B9975B; --bg: black;}
[data-team="dal"] {--trim: #8F8F8C; --bg: #006847;}
[data-team="lak"] {--trim: #A2AAAD; --bg: #111;}
[data-team="cbj"] {--trim: #CE1126; --bg: #002654;}
[data-team="min"] {--trim: #A6192E; --bg: #154734;}
[data-team="wpg"] {--trim: #8E9090; --bg: #041E42;}
[data-team="ari"] {--trim: #E2D6B5; --bg: #8C2633;}
[data-team="phx"] {--bg: #5F259F; --trim: #A9431E;}
[data-team="vgk"] {--bg: #B4975A; --trim: black;}
[data-team="sjs"] {--trim: black; --bg: #006D75;}
[data-team="sea"] {--trim: #99D9D9; --bg: #355464;}
/* defunct */
[data-team="hfd"] {--trim: #2A3489; --bg: #0E7B3E;}
[data-team="que"] {--trim: #DA291C; --bg: #005EB8;}
[data-team="mns"] {--trim: #FFD100; --bg: #009639;}
[data-team="atl"] {--trim: #B86125; --bg: #5C88DA;}
[data-team="afm"] {--trim: #FFC72C; --bg: #C8102E;}
[data-team="win"] {--trim: #C8102E; --bg: #012169;}
[data-team="clr"] {--trim: #FFC72C; --bg: #0033A0;}
[data-team="cgs"] {--trim: #FFD100; --bg: #009CA6;}
[data-team="kcs"] {--trim: #FFC72C; --bg: #0033A0;}
[data-team="cle"] {--trim: #111111; --bg: #C8102E;}
[data-team="brk"],
[data-team="nya"] {--trim: #005FA9; --bg: #E03A3E;}
[data-team="mmr"] {--trim: #ffffff; --bg: #6F263D;}
[data-team="sen"] {--trim: #CF0A2C; --bg: #000000;}
[data-team="sle"] {--trim: #ffffff; --bg: #C60C30;}
[data-team="qua"] {--trim: #F87A36; --bg: #010101;}
[data-team="pir"] {--trim: #FCB932; --bg: #000000;}
[data-team="ham"] {--trim: #FFC72C; --bg: #010101;}
[data-team="qbd"] {--trim: #FFFFFF; --bg: #3E5EFF;}
[data-team="mwn"] {--trim: #FFFFFF; --bg: #E4002B;}
[data-team="tsp"] {--trim: #FFFFFF; --bg: #046A38;}
[data-team="tan"] {--trim: #FFFFFF; --bg: #003087;}
[data-team="vmi"] {--trim: #E5CB90; --bg: #6F263D;}